
/* Color/Style */

header {
    background-color: white;
}

.video-preview {
    width: 30%;
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 58%;
    right: 5%; 
    transform: translateY(-50%);
}

.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 90%;
}
#content-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

main {
    width: 65%; 
    padding: 40px;
    box-sizing: border-box;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
  background-color: #80B3FF; 
  color: white; 
  padding: 40px 0;
  text-align: center;
  height: 50px;
  margin-bottom: 0px;
}

.nav-link {
    color: white;
    transition: 0.3s;
    text-decoration: none;  
	 display: inline-block;
  padding: 15px 25px;
  border-radius: 50%; /* Makes it round */
  background-color: #687EFF; 
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  margin: 0 10px; /* Adjust the spacing between links */
font-family: 'Montserrat', sans-serif;
    border-bottom: 2px solid #000; 
    padding-bottom: 10px; 
}

.nav-link:hover {
    color: aqua;
}

blockquote {
    margin: 0;
    padding: 20px;
    background-color: #B6FFFA;
    border-left: 5px solid #80B3FF;
	font-family: 'Montserrat', sans-serif;
	color: #687EFF;
}

blockquote p {
    font-size: 18px;
    line-height: 1.6;
}

blockquote footer {
    margin-top: 10px;
    font-size: 14px;
    color: #888;
}







/* Desktop Viewport */
@media screen and (min-width: 481px) {

/* Page */

#page-container {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}

body {
    padding: 0;
    margin: 0;
}

.mobile {
    display: none;
}

/* Header/Nav */

header {
    position: absolute;
    width: 100%;
    top: 0;
}

#nav-list {
    display: block;
    margin: 0;
    margin-right: 50px;
    list-style: none;
    text-align: right;
    padding: 20px;
}

.nav-link {
    text-decoration: none;   
}

.nav-item {
    display: inline-block;
    padding: 1em;
}


#logo {
    display: flex;
    float: left;
    margin-left: 50px;
}

#logo img {
    width: auto;
    height: 80px;
}

/* banner

It's not perfect but the animation works on larger screens ok, when doing breakpoints change .banner-image width:10% to a higher value.

*/

#banner-container {
    width: 200%;
    overflow: hidden;
    height: auto;
    display: flex;
}

.banner-image {
    width: 10%;
    height: 100px;
    object-fit: cover;
    display: block;
    object-position: center bottom;
    animation: bannerAnimation 10s linear infinite;
    
}

@keyframes bannerAnimation {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
}


/* main */

main {
    margin-top:190px;
}

}



/* Mobile Viewport */
@media screen and (max-width: 480px) {

    /* Page */

    #page-container {
        overflow: hidden;
    }
    
    body {
        padding: 0;
        margin: 0;
    }

    /* header/nav */

    header {
        position: -webkit-sticky;
        position: fixed;
        top: 0;
        display: block;
        width: 100%;
        z-index: 2;
    }

    #logo {
        padding: 0;
        text-align: center;
        float: left;
        padding-left: 41%;
    }
    
    #logo img {
        width: auto;
        height: 60px;
    }

    /* mobile hamburger button and nav menu */

    .hamburger {
        display: block;
        float: right;
        padding: 15px;
        z-index: 3;
    }

    .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        background-color: rgba(0, 0, 0, 0.884);
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
        background-color: red;
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
        background-color: red;
    }

    #nav-list {
        display: none;
    }

    #nav-list.active {
        display: inline;
        margin: 0;
        margin-right: 5%;
        list-style: none;
        text-align: left;
        padding: 25px;
        float: right;
        background-color: white;
        z-index: 5; /* Set a higher z-index */
        position: absolute;
        top: 60px; /* Adjust based on the height of your header */
        right: 0;
        background-color: white;
        border-width: 5px;
        border: solid;
        border-color: black;
        border-radius: 5px;
    }
    
    
    .nav-item {
        display: block;
        padding: 1em;
        border-bottom: solid 1px;
        border-color: black;
    }

    /* banner */

    #banner-container {
        clear: both;
        display: flex;
        width: 100%;
        height: 60px;
        z-index: 1;
    }

    .banner-image {
        display: none;
    }

    .banner-image:nth-child(-n+2) {
        display: inline;
        width: 50%;
        object-fit: cover;
        object-position: center bottom;

    }


    /* main */

    main {
        margin-top: 124px;
    }

}
