



/* Page */

#page-container {
    position: relative;
    min-height: 100vh;
}

body {
    padding: 0;
    margin: 0;
}

/* Header/Nav */

header {
    position: absolute;
    width: 100%;
}

#nav-list {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
    padding: 20px;
}

.nav-link {
    text-decoration: none;   
}

.nav-item {
    display: inline-block;
    padding: 1em;
}


#logo {
    display: flex;
    float: left;
}

#logo img {
    width: auto;
    height: 80px;
}

/* banner

It's not perfect but the animation works on larger screens ok, when doing breakpoints change .banner-image width:10% to a higher value.

*/

#banner-container {
    width: 200%;
    overflow: hidden;
    height: 120px;
    display: flex;
}

.banner-image {
    width: 10%;
    height: 120px;
    object-fit: cover;
    display: block;
    object-position: center bottom;
    animation: bannerAnimation 20s linear infinite;
    
}

@keyframes bannerAnimation {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
}



/* Footer */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}